{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if err %}
        <h2>404 Page Not Found...</h2>
    {% else %}
        <h2>{{ content|safe }}</h2>
        
        {% if user.is_authenticated %}
        <div style="float: right; padding-right: 1cm;">
            <a href='/wiki/edit/{{title}}'><input type="submit" value="Edit" class="btn btn-primary"/></a> 
            <a href='/wiki/delete/{{title}}'><input type="submit" value="Delete" class="btn btn-primary"/></a> 
        </div>
        {% endif %}
    {% endif %}
{% endblock %}