body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.sidebar {
    background-color: #fdffd7;
    height: 100vh;
    padding-top: 40px;
}


#barcon:hover {
    animation: wiggle;
    animation-duration: 1s;
}

@keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -2px) rotate(1deg); }
}

.sidebar h2 {
    margin-top: 5px;
}

#barcon .tooltiptext {
  visibility: hidden;
  width: 700px;
  background-color: #fcd46e;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 10px 9;
  
  /* Position the tooltip */
  /*position: relative;
  z-index: 2;
  top: 5px;
  left: 40%;*/
}

#barcon:hover .tooltiptext {
  visibility: visible;
}

#desc .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #fcd46e;
    color: black;
    text-align: center;
    border-radius: 20px;
    padding: 10px 9;
    
  }
  
#desc:hover .tooltiptext {
    visibility: visible;
}

@keyframes grow {
    from {
        font-size: 0px;
    }
    to {
        font-size: 80px;
    }
}

#welcome {
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    padding: 70px 0;
    text-align: center;
}

@keyframes show {
    0% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
    
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
}

#about, #about1, #picture {
    animation-name: show;
    animation-duration: 3s;
}
  