{% extends "encyclopedia/layout.html" %}

{% block title %}
    Rosetta
{% endblock %}

{% block body %}
    <h1>All Pages</h1>
    <!--
        href dari entry ga pakai format kaya href="{% url 
        'enclycopedia:index' %}" karena entry yang mau 
        dilink bukan static html page, melainkan dinamic
        page dari content.html yang muncul ketika dipanggil 
        dari urls.py, yang kemudian panggil function content 
        yang ada di view.
    -->
    <ul>
        {% for entry in entries %}
            <a href= '/wiki/{{entry}}' ><li style="color: rgb(13, 78, 157);">{{ entry }}</li></a>
        {% endfor %}
    </ul>

{% endblock %}