{% extends "encyclopedia/layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'encyclopedia:register' %}" method="post">
        {% csrf_token %}
        <div class="form-group" style='width: 300px; height:40px'>
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group" style='width: 300px; height:40px'>
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group" style='width: 300px; height:40px'>
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group" style='width: 300px; height:40px'>
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'encyclopedia:login_view' %}">Log In here.</a>

{% endblock %}