{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    {% if len_result == 0 %}
        <h1>Page not Found..</h1>
        <h4>Here Are The Available Entries:</h4>
        {% for entry in no_entry %}
            <a href= '/wiki/{{entry}}' ><li>{{ entry }}</li></a>
        {% endfor %}

    {% elif len_result == 1 %}
        <h2>{{ perfect_match|safe }}</h2>
        <a href='/wiki/edit/{{title}}'><input type="submit" value="Edit"></a> 

    {% elif len_result > 1 %}
        <h1>Multiple Entries Found..</h1>
        {% for entry in mul_entries %}
            <a href= '/wiki/{{entry}}' ><li>{{ entry }}</li></a>
        {% endfor %}
    {% endif %}
{% endblock %}